<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link href="fonts/iconic/css/material-design-iconic-font.min.css" rel="stylesheet" media="all">
    <link href="css/font-awesome.min.css" rel="stylesheet" media="all">
    <link href="css/select2.min.css" rel="stylesheet" media="all">
    <link href="css/daterangepicker.css" rel="stylesheet" media="all">
    <link rel="stylesheet" href="css/sideBarStyle.css">
    <link rel="stylesheet" href="css/infoForm.css">
  </head>
  <body>
    <div class="sbtn click">
      <span class="fas fa-bars"></span>
    </div>
<nav class="sidebar show">
      <div class="text">
<%= emp.email %></div>
<ul>
<li class="active"><a href='/homeManager'>Profile</a></li>
<li><a href="#">Project</a></li>
<!--<li>
          <a href="#" class="feat-btn">Project
            <span class="fas fa-caret-down first"></span>
          </a>
          <ul class="feat-show">
<li><a href="#">P1</a></li>
<li><a href="#">P2</a></li>
</ul>
</li>
<li>
          <a href="#" class="serv-btn">Services
            <span class="fas fa-caret-down second"></span>
          </a>
          <ul class="serv-show">
<li><a href="#">App Design</a></li>
<li><a href="#">Web Design</a></li>
</ul>
</li>-->
<li><a href="#">Leave</a></li>
<!--<li><a href="#">Shortcuts</a></li>
<li><a href="#">Feedback</a></li>-->
</ul>
</nav>
<div class="page-wrapper bg-gra-02 pt-5 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">PERSONAL INFORMATION</h2>
                <form method="POST">
                    <div class="row">
                        <div class="col-3">
                        <label class="mt-2 label">Name</label>
                    </div>
                        <div class="col-8">
                            <div class="input-group">
                                <input id="name" class="input--style-4" type="text" name="name">
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-3">
                        <label class="mt-2 label">Date Of Birth</label>
                    </div>
                        <div class="col-5">
                            <div class="input-group">
                                <div class="input-group-icon">
                                    <input id="dob" class="input--style-4 js-datepicker" type="text" name="dob">
                                    <i class="zmdi zmdi-calendar-note input-icon js-btn-calendar"></i>
                                </div>
                            </div>
                        </div>
                        <!--<div class="col-5">
                            <div class="input-group">
                                <label class="label">Gender</label>
                                <div class="p-t-10">
                                    <label class="radio-container m-r-45">Male
                                        <input type="radio" checked="checked" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="radio-container">Female
                                        <input type="radio" name="gender">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>-->
                    </div>
                    <div class="row">
                        <div class="col-3">
                        <label class="label">Phone Number</label>
                    </div>
                        <div class="col-5">
                            <div class="input-group">
                                <input id="phone" class="input--style-4" type="tel" name="phone">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                        <label class="mt-2 label">Manager</label>
                    </div>
                        <div class="col-5">
                            <div class="input-group">
                                <input id="manager" class="input--style-4" type="text" name="phone" disabled>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                        <label class="label">Employees Managed</label>
                    </div>
                        <div class="col-5">
                            <div class="input-group">
                                <input id="empManaged" class="input--style-4" type="text" name="phone" disabled>
                            </div>
                        </div>
                    </div>
                    <!--<div class="input-group">
                        <label class="label">Subject</label>
                        <div class="rs-select2 js-select-simple select--no-search">
                            <select name="subject">
                                <option disabled="disabled" selected="selected">Choose option</option>
                                <option>Subject 1</option>
                                <option>Subject 2</option>
                                <option>Subject 3</option>
                            </select>
                            <div class="select-dropdown"></div>
                        </div>
                    </div>-->
                    <div class="p-t-15">
                        <button id="submitbtn" class="fbtn fbtn--radius-2 fbtn--green" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- Jquery JS-->
    <script src="js/jquery.min.js"></script>
    <!-- Vendor JS-->
    <script src="js/select2.min.js"></script>
    <script src="js/moment.min.js"></script>
    <script src="js/daterangepicker.js"></script>

    <!-- Main JS-->
    <script src="js/global.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<script>
    $('.sbtn').click(function(){
      $(this).toggleClass("click");
      $('.sidebar').toggleClass("show");
    });
      $('.feat-btn').click(function(){
        $('nav ul .feat-show').toggleClass("show");
        $('nav ul .first').toggleClass("rotate");
      });
      $('.serv-btn').click(function(){
        $('nav ul .serv-show').toggleClass("show1");
        $('nav ul .second').toggleClass("rotate");
      });
      $('nav ul li').click(function(){
        $(this).addClass("active").siblings().removeClass("active");
      });

        $('#submitbtn').click(function(event) {
                event.preventDefault();
                    $.ajax({
                        global: false,
                        type: 'POST',
                        url: '/updateDetails',
                        data: {
                            name: $("#name").val(),
                            dateOfBirth: $("#dob").val(),
                            phone: $("#phone").val()
                        },
                        success: function (result) {
                            alert(result.message);
                            //window.location.href = result.redirect;
                            console.log(result.message);
                        },
                        error: function (request, status, error) {
                            console.log(error);
                        }
                    });
        });
    </script>

  </body>
</html>
